@model GapRule.Models.JsonTemplateResultViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Gap Rule Solution</h1>
            <p>Select a test case to view details. </p>               
            <button class="btn btn-primary" onclick="location.href='@Url.Action("GetTestResults", "Home", new { executeTests = true })'" >Execute Tests </button>        
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            @foreach (var result in @Model.Results)
            {
                <div class="panel panel-default" id=@("container"+result.Id)>
                    @Html.Partial("~/Views/Shared/_TestCaseResultPartial.cshtml", result)
                </div>
            }
        </div>
    </div>
</body>
</html>
